* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
}

.abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: black;
  height: 100vh;
  padding: 0px 0 8px 0;
}

section .video_body {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

section .video_body .content {
  height: 100%;
}

section .video_body .content .top {
  margin-top: 16px;
  position: relative;
  z-index: 999;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .video_body .content .top .user_profile {
  margin-left: 16px;
  -ms-flex-preferred-size: 56px;
      flex-basis: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 68px;
}

section .video_body .content .top .user_profile .avatar {
  width: 56px;
  height: 56px;
  background-color: white;
  overflow: hidden;
  border-radius: 48px;
  border: 2px solid white;
}

section .video_body .content .top .user_profile .avatar img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

section .video_body .content .top .user_profile .follow {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: white;
}

section .video_body .content .top .user_profile .follow i {
  color: #FF0F3E;
  font-size: 20px;
}

section .video_body .content .top .top_right_inte {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .video_body .content .top .top_right_inte div {
  padding-right: 6px;
  width: 130px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .video_body .content .top .top_right_inte div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

section .video_body .content .top .top_right_inte div span i {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 4px rgba(64, 64, 64, 0.3);
}

section .video_body .content .bottom {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35%;
  margin-bottom: 24px;
}

section .video_body .content .bottom > div {
  height: 100%;
}

section .video_body .content .bottom .caption {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section .video_body .content .bottom .caption div {
  margin-left: 16px;
}

section .video_body .content .bottom .caption p, section .video_body .content .bottom .caption h4 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.85rem;
  text-shadow: 1px 1px 4px rgba(64, 64, 64, 0.1);
}

section .video_body .content .bottom .caption h4 {
  padding-bottom: 8px;
}

section .video_body .content .bottom .interaction {
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section .video_body .content .bottom .interaction div {
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section .video_body .content .bottom .interaction div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: auto;
  font-size: 16px;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 4px rgba(64, 64, 64, 0.3);
}

section .video_body .content .bottom .interaction div span i {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 4px;
}

section .video_body .filter .top {
  position: relative;
  z-index: 998;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

section .video_body .filter .bottom {
  position: absolute;
  z-index: 998;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45%;
  background-color: white;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

section .video_body .video {
  z-index: 997;
  background-color: white;
}

section .video_body .video video {
  width: 100%;
  height: 100%;
}

section .tab_bar {
  height: 64px;
  padding: 0 16px;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .tab_bar div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .tab_bar div .plus {
  height: 60px;
  width: 60px;
  background-color: #FF0F3E;
  border-radius: 60px;
  margin-left: 8px;
}

section .tab_bar div .plus i {
  font-size: 32px;
  color: white;
}

section .tab_bar div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: 300;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  color: rgba(255, 255, 255, 0.7);
}

section .tab_bar div span i {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}

section .tab_bar div span.active {
  font-weight: 900;
  color: white;
}

section .tab_bar div span.active i {
  color: white;
}
/*# sourceMappingURL=main.css.map */